/* =========================
FONTS
========================= */

/* playfair-display-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/playfair-display-v40-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('assets/fonts/playfair-display-v40-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/playfair-display-v40-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-500italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 500;
    src: url('assets/fonts/playfair-display-v40-latin-500italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/playfair-display-v40-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* great-vibes-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/great-vibes-v21-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}




/* =========================
   VARIABLES DE COLOR
========================= */

:root {
    --bg-main: #f4f4f1;
    --bg-section-light: #e8ede6;
    --bg-section-alt: #c8d6c4;
    --text-main: #4d5a4d;
    --btn-bg: #5c6d5c;
    --btn-hover: #445244;
}

/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   BODY
========================= */

body {
    font-family: 'Playfair Display', serif;
    background: var(--bg-main);
    color: var(--text-main);
    transition: background 0.4s ease, color 0.4s ease;
}

/* =========================
   HERO FULL SCREEN
========================= */

.hero {
    height: 100vh;
    width: 100%;
    background-image: url("assets/img/background-boda-1.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.names {
  font-family: 'Playfair Display', serif;
  font-size: clamp(48px, 6vw, 64px);
  font-weight: 400;

  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 0.4s;
}

.date {
  font-size: 18px; /* o lo que estés usando */
  letter-spacing: 2px;

  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 0.8s; /* aparece después del nombre */
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* =========================
   SECCIONES
========================= */

.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    text-align: center;
    transition: background 0.4s ease;
}

.light {
    background: var(--bg-section-light);
}

.light-green {
    background: var(--bg-section-alt);
}

.container {
    max-width: 700px;
}

.container .verse{
    padding: 40px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    font-size: 18px;
}

/* =========================
   BOTONES
========================= */

.btn,
button {
    display: inline-block;
    padding: 20px 20px;
    background: var(--btn-bg);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover,
button:hover {
    background: var(--btn-hover);
}

/* =========================
   ANIMACIONES SCROLL
========================= */

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.2s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* =========================
   CEREMONIA - HOJAS
========================= */

.ceremony {
    position: relative;
    overflow: hidden;
}

.leaf-ceremony {
    position: absolute;
    width: 220px;
    opacity: 0.12;
    pointer-events: none;
}

.leaf-ceremony.top {
    top: 0;
    left: 0;
}

.leaf-ceremony.bottom {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

/* =========================
   CONTADOR
========================= */

.countdown {
    font-size: 28px;
    margin-top: 20px;
    letter-spacing: 2px;
}

/* =========================
   BOTONERA DE COLORES
========================= */

/* =========================
   BOTONERA DE COLORES
========================= */

.theme-switcher {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 999;
}

/* Botón base */
.theme-switcher button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #fbf9f9;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

/* Check minimal (puntito interior) */
.theme-switcher button.active::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Preview colores */
.theme-switcher button:nth-child(1) {
    background: #c8d6c4;
    /* Salvia */
}

.theme-switcher button:nth-child(2) {
    background: #efe4d6;
    /* Beige */
}

.theme-switcher button:nth-child(3) {
    background: #f9dddd;
    /* Rosa */
}



/* =========================
   FLECHA SCROLL AUTOMATICO
========================= */
.scroll-arrow {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  color:rgb(131, 130, 130);
  cursor: pointer;
  z-index: 1000;
  animation: bounce 2s infinite;
  transition: opacity 0.3s ease;
}

.scroll-arrow.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -8px);
  }
  60% {
    transform: translate(-50%, -4px);
  }
}
